// COLORS
//Primary
$DarkViolet: hsl(256, 26%, 20%);
$GrayishBlue: hsl(216, 30%, 68%);
//Neutral
$VeryDarkViolet: hsl(270, 9%, 17%);
$DarkGrayishViolet: hsl(273, 4%, 51%);
$VeryLightGray: hsl(0, 0%, 98%);
// BREAKPOINTS
$tablet: 750px;
$desktop:1200px;
// Images
// Nav
$nav-links-pattern:'../images/bg-pattern-mobile-nav.svg';
// Hero Patterns
$pattern-topleft-hero: '../images/bg-pattern-intro-left-mobile.svg';
$pattern-topleft-hero-desktop: '../images/bg-pattern-intro-left-desktop.svg';
$pattern-bottomright-hero:'../images/bg-pattern-intro-right-mobile.svg';
$pattern-bottomright-hero-desktop:'../images/bg-pattern-intro-right-desktop.svg';
// Hero img
$hero-img:'../images/image-intro-mobile.jpg';
$hero-img-desktop:'../images/image-intro-desktop.jpg';
// Main
$pattern-topright-main:'../images/bg-pattern-how-we-work-mobile.svg';
$pattern-topright-main-desktop:'../images/bg-pattern-how-we-work-desktop.svg';
// Footer
$pattern-topleft-footer:'../images/bg-pattern-footer-mobile.svg';
$pattern-topleft-footer-desktop:'../images/bg-pattern-footer-desktop.svg';
